﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Muğla</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS
    ================================================== -->
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap-responsive.css" rel="stylesheet" />
    <link href="~/Content/css/prettyPhoto.css" rel="stylesheet" />
    <link href="~/Content/css/flexslider.css" rel="stylesheet" />
    <link href="~/Content/css/custom-styles.css" rel="stylesheet" />
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <link rel="stylesheet" href="css/style-ie.css"/>
    <![endif]-->
    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="img/favicon.ico">
    <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">
    <!-- JS
    ================================================== -->
    <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
    <script src="~/Scripts/js/bootstrap.js"></script>
    <script src="~/Scripts/js/jquery.prettyPhoto.js"></script>
    <script src="~/Scripts/js/jquery.flexslider.js"></script>
    <script src="~/Scripts/js/jquery.custom.js"></script>
    <script type="text/javascript">
$(document).ready(function () {

    $("#btn-blog-next").click(function () {
      $('#blogCarousel').carousel('next')
    });
     $("#btn-blog-prev").click(function () {
      $('#blogCarousel').carousel('prev')
    });

     $("#btn-client-next").click(function () {
      $('#clientCarousel').carousel('next')
    });
     $("#btn-client-prev").click(function () {
      $('#clientCarousel').carousel('prev')
    });

});

 $(window).load(function(){

    $('.flexslider').flexslider({
        animation: "slide",
        slideshow: true,
        start: function(slider){
          $('body').removeClass('loading');
        }
    });
});

    </script>
</head>
<body class="home">
    <!-- Color Bars (above header)-->
    <div class="color-bar-1"></div>
    <div class="color-bar-2 color-bg"></div>

    <div class="container">

        <div class="row header">
            <!-- Begin Header -->
            <!-- Logo
            ================================================== -->
            <div class="span5 logo">
                <a href="index.htm"><img src="~/Content/img/logo.png" alt=""  />  
                </a> <h5>Egenin İncisi..</h5>
            </div>

            <!-- Main Navigation
            ================================================== -->
            <div class="span7 navigation">
                <div class="navbar hidden-phone">

                    <ul class="nav">
                        <li>@Html.ActionLink("Anasayfa", "Index", "Home")</li>


                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">Haberler<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Hizmetler", "Index", "Home")</li>
                            </ul>
                        </li>


                        <li>@Html.ActionLink("Kültür Sanat", "Index", "Home")</li>

                        <li>@Html.ActionLink("Kampüs", "Index", "Home")</li>


                        <li>@Html.ActionLink("Galeri", "Index", "Home")</li>

                        <li>@Html.ActionLink("Üye Ol", "Index", "Home")</li>



                    </ul>

                </div>
                <!-- Mobile Nav
                ================================================== -->
                <form action="#" id="mobile-nav" class="visible-phone">
                    <div class="mobile-nav-select">
                        <select onchange="window.open(this.options[this.selectedIndex].value,'_top')">
                            <option value="">Navigate...</option>
                            <option value="index.htm">Home</option>
                            <option value="index.htm">- Full Page</option>
                            <option value="index-gallery.htm">- Gallery Only</option>
                            <option value="index-slider.htm">- Slider Only</option>
                            <option value="features.htm">Features</option>
                            <option value="page-full-width.htm">Pages</option>
                            <option value="page-full-width.htm">- Full Width</option>
                            <option value="page-right-sidebar.htm">- Right Sidebar</option>
                            <option value="page-left-sidebar.htm">- Left Sidebar</option>
                            <option value="page-double-sidebar.htm">- Double Sidebar</option>
                            <option value="gallery-4col.htm">Gallery</option>
                            <option value="gallery-3col.htm">- 3 Column</option>
                            <option value="gallery-4col.htm">- 4 Column</option>
                            <option value="gallery-6col.htm">- 6 Column</option>
                            <option value="gallery-4col-circle.htm">- Gallery 4 Col Round</option>
                            <option value="gallery-single.htm">- Gallery Single</option>
                            <option value="blog-style1.htm">Blog</option>
                            <option value="blog-style1.htm">- Blog Style 1</option>
                            <option value="blog-style2.htm">- Blog Style 2</option>
                            <option value="blog-style3.htm">- Blog Style 3</option>
                            <option value="blog-style4.htm">- Blog Style 4</option>
                            <option value="blog-single.htm">- Blog Single</option>
                            <option value="page-contact.htm">Contact</option>
                        </select>
                    </div>
                </form>
            </div>

        </div><!-- End Header -->







        @RenderBody()

 

    <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    <br />
v







</div> <!-- End Container -->

    <!-- FOOTER BAŞLANGICI
    ================================================== -->
    <div class="footer-container">
        <div class="container">
            <div class="footer-row">
                <div class="span3 footer-col">
                    <h5>Hakkımızda</h5>

                    <address>
                        <strong>Tasarım Ekibi</strong><br />
                        Muğla Sıtkı Koçman Üniversitesi Üniversite-Sanayi İş Birliği Koordinatörlüğü,Araştırma Laboratuvarı Merkezi (ALM) Kötekli Kampüsü PK: 48000 Menteşe/Muğla<br />
                        <br />
                        Campus Design 2017
                    </address>
                    <ul class="social-icons">
                        <h5>sosyal ikonlar</h5>
                        <li><a href="#" class="social-icon facebook"></a></li>
                        <li><a href="#" class="social-icon twitter"></a></li>
                        <li><a href="#" class="social-icon dribble"></a></li>
                    </ul>
                </div>

                <div class="span3 footer-col">
                    -
                </div>



                <div class="span3 footer-col">
                    <img src="~/Content/img/map.png" alt="" />
                </div>



            </div>

        </div>
    </div><!-- End Footer -->

    </body>
</html>
