﻿
@{
    ViewBag.Title = "Galeri";
}

<link href="~/Galeri/css/lightbox.css" rel="stylesheet" media="screen"/>
<script src="~/Galeri/js/jquery-3.2.1.min.js"></script>
<script src="~/Galeri/js/lightbox.js"></script>
   
    <a href="~/Galeri/r1.Jpeg" rel="lightbox [group]"><img src="~/Galeri/r1.Jpeg" alt="slider" width="200" height="200" /></a>
    <a href="~/Galeri/r2.jpg" rel="lightbox [group]" ><img src="~/Galeri/r2.jpg" alt="slider" width="200" height="200" /></a>
    <a href="~/Galeri/r3.jpg" rel="lightbox [group]"><img src="~/Galeri/r3.jpg" alt="slider" width="200" height="200"/></a>
    <a href="~/Galeri/r4.jpg" rel="lightbox [group]"><img src="~/Galeri/r4.jpg" alt="slider" width="200" height="200" /></a>
    <a href="~/Galeri/r5.jpg" rel="lightbox [group]"><img src="~/Galeri/r5.jpg" alt="slider" width="200" height="200" /></a>
    <a href="~/Galeri/r6.jpg" rel="lightbox [group]"><img src="~/Galeri/r6.jpg" alt="slider" width="200" height="200" /></a>
    <a href="~/Galeri/r7.jpg" rel="lightbox [group]"><img src="~/Galeri/r7.jpg" alt="slider" width="200" height="200" /></a>
    <a href="~/Galeri/r8.jpg" rel="lightbox [group]"><img src="~/Galeri/r8.jpg" alt="slider" width="200" height="200" /></a>
    <a href="~/Galeri/r9.jpg" rel="lightbox [group]"><img src="~/Galeri/r9.jpg" alt="slider" width="200" height="200" /></a>
    <a href="~/Galeri/r10.jpg" rel="lightbox [group]"><img src="~/Galeri/r10.png" alt="slider" width="200" height="200" /></a>
<br /><br /><br />
