﻿
@{
    ViewBag.Title = "girisYap";
}


<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
 <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Giris Yap</title>
    <link rel="stylesheet" href="css/giris.css">
    <!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>
    <section class="container">
        <div class="login">
            <h3>Giriş Yapınız</h3>
            <form action="" method="post" name=""><br />
                E-mail:<br />
                <input type="text" name="giris" value="" placeholder="Email"><br />
                Şifre:<br />
                <input type="password" name="sifre" value="" placeholder="Password"><br />
               
                <p class="submit"><input type="submit" name="butonGiris" value="Giriş Yap"></p>
            </form>
        </div>
       
    </section>
   
</body>
</html>


