﻿
@{
    ViewBag.Title = "Welcome";
}

<h2>Hoş Geldiniz </h2>

<div class="row headline">
    <!-- Begin Headline -->
    <!-- Slider Carousel
    ================================================== -->
    <div class="span8">
        <div class="flexslider">
            <ul class="slides">
                <li><a href="gallery-single.htm"><img src="~/img/gallery/slider-img-1.jpg" alt="slider" /></a></li>
                <li><a href="gallery-single.htm"><img src="~/img/gallery/slider-img-1.jpg" alt="slider" /></a></li>
            </ul>
        </div>
    </div>

    <!-- Headline Text
    ================================================== -->
    <div class="span4">
        <h3>
            Büyüksehir’in Sporculari Atatürk’e Saygi Yol Kosusuna Katildi <br />

        </h3>
        <p class="lead">Mugla Büyüksehir Belediyesi Veteran Atletizm Takimi</p>
        <p>10 Kasim’da Mugla Sitki Koçman Üniversitesi tarafindan düzenlenen Atatürk’e Saygi 25. Gençlik Yol Kosusu’na katilarak Ata’sini andi.</p>
        <a href="#"><i class="icon-plus-sign"></i>Daha Fazla Oku</a>
    </div>
</div><!-- End Headline -->

<div class="row gallery-row">
    <!-- Begin Gallery Row -->


</div>


